/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-ExtraLight.ttf) format("truetype"),
    url(../fonts/Poppins-Regular.ttf) format("truetype"),
    url(../fonts/Poppins-SemiBold.ttf) format("truetype");
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* ----- */

/* --Colors-- */
:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}
/* -------- */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  vertical-align: middle;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
