.wrapper {
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title span.poppins-extralight {
  font-size: clamp(1.42rem, 4.5vw, 3rem);
  color: var(--dark-blue);
}

.title span.poppins-bold {
  font-size: clamp(1.4rem, 4.5vw, 3rem);
}

.description {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  max-width: 32ch;
}

.content {
  display: grid;
  row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  row-gap: 5px;
  background-color: #fff;
  border-top: 4px solid black;
  border-radius: 5px;
  box-shadow: 0 20px 20px 3px rgba(0, 0, 0, 0.1);
}

.card-supervisor {
  border-top: 4px solid var(--cyan);
}

.card-team-builder {
  border-top: 4px solid var(--red);
}

.card-karma {
  border-top: 4px solid var(--orange);
}

.card-calculator {
  border-top: 4px solid var(--blue);
}

.card-title {
  font-size: 1.1875rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.card-text {
  color: var(--grayish-blue);
  font-size: 12px;
}

img.card-icon {
  width: 60px;
  align-self: flex-end;
}
